{% extends "layout.html" %}
{% block main %}

<nav>
    <span></span>
    <a href="/" class="top-buttons" style="text-decoration: none; float: right; margin-right: 6vw">home</a>
</nav>

<form action="/passwords_strength" method="post" class="reg_form">
    <input type="password" placeholder="Your login Password" id="check_password" name="password"
    required class="form-input" autocomplete="off"
    title="enter passwords to strength test it">
    
    <span id="del-toggle-Password" class="toggle-password" style="top: 62.8%;">Show</span>
    <br><br>
    <input type="submit" value="Ckeck" class="form-button">
</form>
{% if eval %}
<div class="hints">
    <label for="score">Score:  </label>
    <br>
    <progress id="score" value={{eval[1][1]}} max="10" class="gradient-progress"> {{eval[1][1]}}% </progress>
    <p>Crack time---{{eval[1][0]}}</p>
    <p>Entropy---{{eval[0]}}</p>
</div>
{% endif %}
<script>
    const passwordInput = document.getElementById('del-master_password');
    const toggleButton = document.getElementById('del-toggle-Password');

    toggleButton.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.textContent = type === 'password' ? 'Show' : 'Hide';
    });
</script>


{% endblock %}