{% extends "layout.html" %}
{% block main %}

<!-- Navigation Bar -->
<nav>
    <span></span>
    <div>
        <a href="/" class="top-buttons">Home</a>
        <button id="helper_key" class="top-buttons">Help</button>
    </div>
</nav>

<!-- Add Password Form -->
<form action="/add-password" method="POST" onsubmit="return updateValue();" class="reg_form" name="ap_form">
    <br><br><br>
    
    <!-- Form Title -->
    <label class="pass-label">Add Password:</label>
    <br><br>
    
    <!-- Service Input -->
    <input 
        type="text" 
        placeholder="Service" 
        id="add-service" 
        name="service" 
        required 
        class="form-input"
        autocomplete="off" 
        autofocus 
        title="The name of the website/app/service the password is for.">
    <br><br>

    <!-- Username Input -->
    <input 
        type="text" 
        placeholder="Username" 
        id="add-username" 
        name="username" 
        required 
        class="form-input"
        autocomplete="off" 
        title="The username or email used for that service.">
    <br><br>

    <!-- Password Input with Toggle -->
    <div style="display: flex; justify-content: flex-end; width: fit-content;">
        <input 
            type="password" 
            placeholder="Password" 
            id="add-password" 
            name="password" 
            required 
            class="form-input"
            autocomplete="off" 
            title="The password used for that service.">
        <span id="add-toggle-Password" class="toggle-password" style="top: 47.5%;">Show</span>
    </div>
    <br>

    <!-- Category Input (Optional) -->
    <input 
        type="text" 
        placeholder="Category" 
        id="add-category" 
        name="category" 
        class="form-input" 
        autocomplete="off"
        title="Optional label to organize passwords.">
    <br><br><br><br><br>

    <!-- Master Password Verification -->
    <input 
        type="password" 
        placeholder="Verify Your login Password" 
        id="add-master_password" 
        name="master_password"
        required 
        class="form-input" 
        autocomplete="off"
        title="To add a new password, please verify your login password.">
    <br><br>

    <!-- Submit Button -->
    <input type="submit" value="ADD" class="form-button" id="ap_submitbutton">
</form>

<!-- Form Handler Script -->
<script src="../static/js/add_password.js" defer></script>

{% endblock %}