{% extends "layout.html" %}

{% block main %}
<div id="glow"></div>

<nav>
    <span>
        <a href="/">
            <img width="50" src="../static/images/favicon.png" alt="logo">
        </a>
    </span>

    <div>
        <a href="/passwords" method="GET">
            <button class="top-buttons" id="dash-passwords">My Passwords</button>
        </a>

        <div class="dropdown">
            <button class="top-buttons" id="dash-menu">Menu</button>
            <div class="dropdown-content" id="dropdown">
                <a href="/add-password" class="dropdownOptions">Add Password</a>
                <a href="/del-password" class="dropdownOptions">Delete Password</a>
                <a href="/passwords_strength" class="dropdownOptions">Check Password Strength</a>
                <a href="/hash_password" class="dropdownOptions">Hash Password</a>
                <a href="/verifyHash" class="dropdownOptions">Verify Hash</a>
            </div>
        </div>

        <button id="helper_key" class="top-buttons">Help</button>

        <a href="/logout" method="GET">
            <button class="top-buttons" id="home">Logout</button>
        </a>
    </div>
</nav>

<div class="dash-table-container">
    {% if entries %}
    <table class="table">
        <thead>
            <tr>
                <th colspan="3">
                    <b><pre>S   A   V   E   S</pre></b>
                </th>
            </tr>
            <tr>
                <th title="The name of the website/app/service the password is for.">Service</th>
                <th title="The username or email used for that service.">Username</th>
                <th title="Optional label to organize passwords.">Category</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] if entry[2] else "|-----|" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th colspan="3">
                    <b><pre>NO PASSWORDS SAVED YET</pre></b>
                </th>
            </tr>
        </thead>
    </table>
    {% endif %}
</div>

{% endblock %}