{% extends "layout.html" %}
{% block main %}

<nav>
    <span></span>
    <div>
        <a href="/" class="top-buttons" style="text-decoration: none; ">Home</a>
        <button id="helper_key" class="top-buttons" style="text-decoration: none; font-size: 15px">Help</button>
    </div>
</nav>

<form action="/del-password" method="POST" class="reg_form">
    <br><br>
    <label class="pass-label">Delete Password: </label>
    <br><br>

    <input type="text" placeholder="Service" id="del-service" name="service" required class="form-input"
        autocomplete="off" autofocus title="The name of the website/app/service the password is for.">
    <br><br>

    <input type="text" placeholder="Username" id="del-username" name="username" required class="form-input"
        autocomplete="off" title="The username or email used for that service.">
    <br><br>
    <br><br>
    <input type="password" placeholder="Your login Password" id="del-master_password" name="master_password"
    required class="form-input" autocomplete="off"
    title="To Delete a password, please verify your login password. (of this website ofc)">
    <span id="del-toggle-Password" class="toggle-password" style="top: 68.2%;">Show</span>
    <br><br>
    <input type="submit" value="DELETE" class="form-button">
</form>
<script src="../static/js/del_password.js" defer ></script>
{% endblock %}