{% extends "layout.html" %}
{% block main %}

<!-- Navigation Bar -->
<nav>
    <span></span>
    <div>
        <a href="/" class="top-buttons">Home</a>
        <button id="helper_key" class="top-buttons" style="font-size: 15px;">Help</button>
    </div>
</nav>

<!-- Delete Password Form -->
<form action="/del-password" method="POST" class="reg_form">
    <br><br>
    <label class="pass-label">Delete Password:</label>
    <br><br>

    <!-- Service Name Input -->
    <input
        type="text"
        id="del-service"
        name="service"
        class="form-input"
        placeholder="Service"
        title="The name of the website/app/service the password is for."
        autocomplete="off"
        required
    >
    <br><br>

    <!-- Username Input -->
    <input
        type="text"
        id="del-username"
        name="username"
        class="form-input"
        placeholder="Username"
        title="The username or email used for that service."
        autocomplete="off"
        required
    >
    <br><br>
    <br><br>

    <!-- Master Password Input with Toggle -->
    <input
        type="password"
        id="del-master_password"
        name="master_password"
        class="form-input"
        placeholder="Your login Password"
        title="To delete a password, please verify your login password."
        autocomplete="off"
        required
    >
    <span id="del-toggle-Password" class="toggle-password" style="top: 68.2%;">Show</span>
    <br><br>

    <!-- Submit Button -->
    <input id="del-submitbutton" type="submit" value="DELETE" class="form-button">
</form>

<!-- Password Deletion Script -->
<script src="../static/js/del_password.js" defer></script>

{% endblock %}