{% extends "layout.html" %}
{% block main %}

<nav>
    <span></span>
    <div>
        <a href="/" class="top-buttons" style="text-decoration: none; ">Home</a>
        <button id="hp__key" class="top-buttons" style="text-decoration: none; font-size: 15px">Help</button>
    </div>
</nav>

<form action="/hash_password" method="post" class="reg_form">
    <input type="password" placeholder="Your login Password" id="hp_password" name="password"
    required class="form-input" autocomplete="off" autofocus
    title="enter passwords to strength test it">
    
    <span id="hp_toggle-Password" class="toggle-password" style="top: 45px;">Show</span>
    
    <input type="hidden" id="hp_hdn_algorithm" name="algorithm" value="">
<br><br>
<div class="form-input, dropdown" style="width: 10px;">
    <button type="button" class="form-input, form-button" id="hp_algorithm" style="width: 150px; height: 40px; text-align: left;">Algorithm</button>
    <div class="dropdown-content" id="hp_dropdown">
        <div id="hp_opt1" class="dropdownOptions"> SHA-224</div>
        <div id="hp_opt2" class="dropdownOptions"> SHA-256</div>
        <div id="hp_opt3" class="dropdownOptions"> SHA-384</div>
        <div id="hp_opt4" class="dropdownOptions"> SHA-512</div>
    </div>
</div>
<br><br>
    <input type="submit" value="Hash" class="form-button" id="hp_submitButton">
</form>

{% if eval %}
<div class="glassmorphicHints" style="top: 20%; left: 10%; max-width: 700px; overflow-wrap: anywhere; padding: 10px">
    <p style="color: rgb(0, 255, 255)">
        <h style="color: rgba(0, 255, 255, 0.288)">{{eval[0]}}</h>{{eval[1]}}
    </p>
</div>
{% endif %}
<script src="../static/js/hash_password.js" defer ></script>
{% endblock %}