<!DOCTYPE html>
<html lang="en">

<head>
  <title>PassVault</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
</head>

<body>
  
  <div id="glow"></div>
  
  {% block main %}
  {% endblock %}
  
  {% if indc %}
  <div id="indc" class="indcglassmorphicpopup" >
    <h2 class="indch">{{indc}}</h2>
  </div>
    {% endif %}
  
  
  <script src="../static/js/global.js" defer ></script>
  <script src="../static/js/help.js" defer ></script>
  <script src="../static/js/shortcuts.js" defer ></script>
</body>
<script>
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);

  // Read a specific parameter
  const status = urlParams.get('status');

  if (status === 'success') {
      const alrtdiv = document.createElement('div');
      alrtdiv.classList.add("indcglassmorphicpopup")
      body.appendChild(alrtdiv)

      const alert = document.createElement('h1');
      alert.classList.add("indch")
      alert.innerHTML = status
      alrtdiv.appendChild(alert)
  }
</script>
</html>